nodered/data/flows.json
[
    {
        "id": "0d2c9d51a075bcab",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a9792a16ee22bb4c",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0d3875f4f5cd44e3",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "mongo",
        "port": "",
        "dbName": "",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "57792113310c32ea",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "mongo",
        "port": "27017",
        "dbName": "sensores",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "088d090c8f1eb232",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "postgres",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "iot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "admin",
        "userFieldType": "str",
        "password": "admin",
        "passwordFieldType": "str"
    },
    {
        "id": "4910262dbe5ee0bb",
        "type": "debug",
        "z": "0d2c9d51a075bcab",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 40,
        "wires": []
    },
    {
        "id": "c80e27cc8cfd4576",
        "type": "function",
        "z": "0d2c9d51a075bcab",
        "name": "function 1",
        "func": "var obj = {};\n\nobj._id = msg.id;\nobj.createAt = new Date();\nobj.temperature = msg.payload.t;\nobj.humidity = msg.payload.umid;\nobj.topic = msg.topic;\n\nmsg = {};\nmsg.payload = obj;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 40,
        "wires": [
            [
                "be4ec6b519056eee"
            ]
        ]
    },
    {
        "id": "800d74ea5d4c502c",
        "type": "uuid",
        "z": "0d2c9d51a075bcab",
        "uuidVersion": "v4",
        "namespaceType": "",
        "namespace": "",
        "namespaceCustom": "",
        "name": "",
        "field": "payload._id",
        "fieldType": "msg",
        "x": 470,
        "y": 200,
        "wires": [
            [
                "eea68fd637cf63eb"
            ]
        ]
    },
    {
        "id": "aebdb1036125f382",
        "type": "mqtt in",
        "z": "0d2c9d51a075bcab",
        "name": "",
        "topic": "sensor/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a9792a16ee22bb4c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 200,
        "wires": [
            [
                "800d74ea5d4c502c"
            ]
        ]
    },
    {
        "id": "1d8a7ebceef00539",
        "type": "mongodb4",
        "z": "0d2c9d51a075bcab",
        "clientNode": "57792113310c32ea",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 950,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "70c5305561eb556f",
        "type": "postgresql",
        "z": "0d2c9d51a075bcab",
        "name": "",
        "query": "",
        "postgreSQLConfig": "088d090c8f1eb232",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 950,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "be4ec6b519056eee",
        "type": "function",
        "z": "0d2c9d51a075bcab",
        "name": "function 2",
        "func": "var object = {};\nobject.query = `INSERT INTO sensores(id, createdAt, temperature, humidity, topic)VALUES ($1, $2, $3, $4, $5)`;\nobject.params = [\n    msg.payload._id,\n    msg.payload.createAt,\n    msg.payload.temperature,\n    msg.payload.humidity,\n    msg.payload.topic\n]\nmsg = {};\nmsg = object;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "ec950e5bdf96d238",
        "type": "mqtt in",
        "z": "0d2c9d51a075bcab",
        "name": "",
        "topic": "devices/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a9792a16ee22bb4c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 380,
        "wires": [
            [
                "2592068468ece16d"
            ]
        ]
    },
    {
        "id": "bb8bc6243a4ae3d7",
        "type": "debug",
        "z": "0d2c9d51a075bcab",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 380,
        "wires": []
    },
    {
        "id": "5038183fabf95fe2",
        "type": "debug",
        "z": "0d2c9d51a075bcab",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 200,
        "wires": []
    },
    {
        "id": "2592068468ece16d",
        "type": "uuid",
        "z": "0d2c9d51a075bcab",
        "uuidVersion": "v4",
        "namespaceType": "",
        "namespace": "",
        "namespaceCustom": "",
        "name": "",
        "field": "payload._id",
        "fieldType": "msg",
        "x": 470,
        "y": 380,
        "wires": [
            [
                "168a60eda42142a1"
            ]
        ]
    },
    {
        "id": "168a60eda42142a1",
        "type": "function",
        "z": "0d2c9d51a075bcab",
        "name": "ProcessDeviceData",
        "func": "var message = {};\n\nmessage.payload = msg.payload;\nmessage.payload.created_at = new Date();\nmessage.operation = \"insertOne\";\nmessage.collection = \"devices\";\n\nreturn message;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 380,
        "wires": [
            [
                "bb8bc6243a4ae3d7",
                "1d8a7ebceef00539"
            ]
        ]
    },
    {
        "id": "eea68fd637cf63eb",
        "type": "function",
        "z": "0d2c9d51a075bcab",
        "name": "ProcessDataReading",
        "func": "var message = {};\nmessage.payload = msg.payload;\nmessage.payload.topic = msg.topic;\nmessage.payload.created_at = new Date();\n\nmessage.operation =\"insertOne\";\nmessage.collection =\"reading_data\";\nreturn message;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 200,
        "wires": [
            [
                "1d8a7ebceef00539",
                "5038183fabf95fe2"
            ]
        ]
    }
]